{% extends "index.html"%}
{%block content %}
    <ul class="list-group">
    {% for book in books %}
        <li class="list-group-item">
            <!-- Display book cover -->
            <img src="{{ book['cover'] }}" width="50" alt="Book Cover">
            <!-- Display book details -->
            {{book['author']}},	
            {{book['title']}},
            {{book['country']}},
            {{book['language']}},
            {{book.get('pages', 'N/A')}},
            {{book['year']}}
        </li>
    {%endfor%}
    </ul>
{%endblock%}

